#chart
{
    border: solid 1px black;
}
#options
{
    padding: 20px;
    border: solid 1px black;
    height: min-content;
}
#options>*
{
    margin:3px;
}
body
{
    display: flex;
}

body>*
{
    margin-right: 10px;
}

.header
{
    text-align: center;
    border:1px solid black;
    border-bottom:0px;
    font-size: 30px;
}